

.drums{
    flex: 1;
    min-width: 250px;
    display: grid;
    grid-template-columns: repeat( 3 , 1fr) ;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.drum-pad{
    padding: 30px;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    background-color: #8d8d8d;  
    font-weight: bold; 
    font-size: 22px;
    box-shadow: 2px 2px 2px 2px rgb(46, 45, 45);
}
